<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>Home</title>
	<style>
		* {
			margin: 0;
			padding: 0;
		}

		.menu {
			background-color: aliceblue;
			width: 100%;
			height: 40px;
			margin: 0;
			padding: 0;
		}
		.menu ul{
			display: flex;
			list-style: none;
		}
		.menu ul .blank-space{
			flex-grow: 1;
		}
		
		.menu ul li{
			padding: 4px;
		}

		.menu ul li a {
			text-decoration: none;
			color: black;
			padding: 5px;
		}

		.menu ul li a:hover {
			background-color: lightblue;
		}
	</style>
</head>

<body>
	<header>
		<nav class="menu">
			<ul>
				<li><a href="/board/list">게시판</a></li>
				<li class="blank-space"></li>
				<li><a href="/account/login" th:text="${btn} ? ${btn} : '로그인'"></a></li>
				<li><a href="/account/user">회원가입</a></li>
			</ul>
		</nav>
	</header>

</body>

</html>