<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>회원가입</title>
	<style>
		body {
			text-align: center;
		}

		.boxes {
			width: 50%;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			margin: 0 25%;
		}

		input[type=submit] {
			margin: 20px 0;
			width: 60px;
			height: 40px;
			background-color: rgb(134, 181, 198);
			border: solid 1px grey;
		}
	</style>
</head>

<body>
	<h2>회원가입</h2>

	<form th:action="@{/account/complete}" th:object="${user}" method="POST">
		<div class="boxes">
			<p>ID </p> <input class="input" type="text" th:field="*{id}" />
			<p>Password</p> <input class="input" type="password" th:field="*{pw}"/>
			<p>Name</p> <input class="input" type="text" th:field="*{name}"/>
			<p>Email</p> <input class="input" type="email" th:field="*{email}"/>
			<p>PhoneNumber</p> <input class="input" type="text" th:field="*{phone}"/>
			<p>Address</p> <input class="input" type="text" th:field="*{address}"/>
		</div>
		<input type="submit" text="제출" />
	</form>
</body>

</html>