<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">

<head>
	<title>게시판</title>
	<link rel="stylesheet" th:href="@{/css/menu.css}"/>
	<style>
		*{
			text-align: center;
			margin: 0;
			padding: 0;
		}
		.post-list{
			width: 100vw;
			height: auto;
			margin: 20px;
		}
		a {
			text-decoration: none;
			color: black;
		}
		
		.go-home, .post-writing{
			padding: 5px;
			border: 0.5px solid black;
			background-color: lightgrey;
		}
	</style>
	<script th:src="@{/js/boardList.js}"></script>
</head>

<body>
	<nav th:replace="home.html::menu">
	</nav>
	<main>
	<table class="post-list">
		<thead>
			<tr class="list-col">
				<th class="list-col-1">번호</th>
				<th class="list-col-2">글제목</th>
				<th class="list-col-3">작성자</th>
				<th class="list-col-4">작성일</th>
				<th class="list-col-5">수정일</th>
			</tr>
		</thead>
		<tbody class="list-row">
			<tr th:if="${not #lists.isEmpty(posts)}" th:each="post: ${posts}">
				<td th:text="${post.boardId}"></td>
				<td>
					<a th:href="@{/board/detail(id=${post.boardId})}" th:text="${post.title}" id="post-link"></a>
				</td>
				<td th:text="${post.writer}"></td>
				<td th:text="${post.regDate} ? 
				${#calendars.format(post.regDate, 'yyyy-MM-dd')} : '작성된 날짜가 없습니다.'"></td>
				<td th:text="${post.updateDate} ? 
				${#calendars.format(post.updateDate, 'yyyy-MM-dd')} : '-'"></td>
			</tr>
			<tr th:unless="${not #lists.isEmpty(posts)}">
				<td colspan="3">조회된 결과가 없습니다.</td>
			</tr>
		</tbody>
	</table>
	<div>
		<a href="/home" class="go-home">홈으로</a>
		<a href="/board/post" class="post-writing">글쓰기</a>
	</div>
	</main>
</body>

</html>